run = "npm run build && npm run start"
entrypoint = "app/page.tsx"
modules = ["nodejs-20:v8-20230920-bd784b9"]

[nix]
channel = "stable-24_05"

[deployment]
build = ["sh", "-c", "npm install && npm run build"]
run = ["sh", "-c", "npm run start"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 3000
externalPort = 80
